vti_encoding:SR|utf8-nl
vti_author:SR|1-98F8A64D7A1B4\\1
vti_modifiedby:SR|1-98F8A64D7A1B4\\1
vti_timelastmodified:TR|02 Mar 2001 17:04:48 -0000
vti_timecreated:TR|02 Mar 2001 17:04:48 -0000
vti_cacheddtm:TX|02 Mar 2001 17:04:50 -0000
vti_filesize:IR|29534
vti_cachedlinkinfo:VX|S|top_bar_button_iris.gif S|background_iris.gif S|bull2_iris.gif S|toolgrad_iris.gif S|theme.css S|dot_iris.gif S|toolgrad_iris.gif S|partgrad.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/iris/top_bar_button_iris.gif FSUS|_themes/iris/background_iris.gif FSUS|_themes/iris/bull2_iris.gif FSUS|_themes/iris/toolgrad_iris.gif FSUS|_themes/iris/theme.css FSUS|_themes/iris/dot_iris.gif FSUS|_themes/iris/toolgrad_iris.gif FSUS|_themes/iris/partgrad.gif
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|_themes/iris/theme.css
