vti_encoding:SR|utf8-nl
vti_author:SR|1-98F8A64D7A1B4\\1
vti_modifiedby:SR|1-98F8A64D7A1B4\\1
vti_timelastmodified:TR|16 Feb 2001 19:12:02 -0000
vti_timecreated:TR|16 Feb 2001 19:12:02 -0000
vti_cacheddtm:TX|16 Feb 2001 19:12:04 -0000
vti_filesize:IR|10588
vti_cachedlinkinfo:VX|S|radglobl.gif S|radbkgnd.gif S|bluedot.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/radial/radglobl.gif FSUS|_themes/radial/radbkgnd.gif FSUS|_themes/radial/bluedot.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{6E3A86C8-AE6B-414C-802D-68EEF0471A97}
vti_backlinkinfo:VX|
