vti_encoding:SR|utf8-nl
vti_author:SR|1-98F8A64D7A1B4\\1
vti_modifiedby:SR|1-98F8A64D7A1B4\\1
vti_timelastmodified:TR|26 Feb 2001 08:30:04 -0000
vti_timecreated:TR|25 Feb 2001 05:15:33 -0000
vti_extenderversion:SR|6.0.2.5516
vti_lineageid:SR|{981C05F7-1B15-4303-A514-06F2325430DA}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|25 Feb 2001 05:15:33 -0000
vti_cacheddtm:TX|26 Feb 2001 08:30:04 -0000
vti_filesize:IR|695
