vti_encoding:SR|utf8-nl
vti_author:SR|1-98F8A64D7A1B4\\1
vti_modifiedby:SR|1-98F8A64D7A1B4\\1
vti_timelastmodified:TR|26 Feb 2001 08:30:05 -0000
vti_timecreated:TR|25 Feb 2001 05:15:34 -0000
vti_extenderversion:SR|6.0.2.5516
vti_lineageid:SR|{E31C4CDD-8F0D-4AB8-AF64-5E730586D52E}
vti_backlinkinfo:VX|_themes/indust/theme.css
vti_nexttolasttimemodified:TR|25 Feb 2001 05:15:34 -0000
vti_cacheddtm:TX|26 Feb 2001 08:30:05 -0000
vti_filesize:IR|28929
vti_cachedlinkinfo:VX|S|indglob.gif S|indtextb.jpg S|indbul2d.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/indust/indglob.gif FSUS|_themes/indust/indtextb.jpg FSUS|_themes/indust/indbul2d.gif FSUS|_themes/indust/toolgrad.gif FSUS|_themes/indust/dot.gif FSUS|_themes/indust/toolgrad.gif FSUS|_themes/indust/theme.css FSUS|_themes/indust/blank.gif
