vti_encoding:SR|utf8-nl
vti_author:SR|1-98F8A64D7A1B4\\1
vti_modifiedby:SR|1-98F8A64D7A1B4\\1
vti_timelastmodified:TR|16 Feb 2001 18:43:42 -0000
vti_timecreated:TR|16 Feb 2001 18:43:42 -0000
vti_cacheddtm:TX|16 Feb 2001 18:43:44 -0000
vti_filesize:IR|5296
vti_cachedlinkinfo:VX|S|tvbnr.gif S|tvphb.gif S|tvphbp.gif S|tvhome.gif S|tvnext.gif S|tvprev.gif S|tvup.gif S|tvglb.gif S|tvpvb.gif S|tvpvbp.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/tvtoons/tvbnr.gif FSUS|_themes/tvtoons/tvphb.gif FSUS|_themes/tvtoons/tvphbp.gif FSUS|_themes/tvtoons/tvhome.gif FSUS|_themes/tvtoons/tvnext.gif FSUS|_themes/tvtoons/tvprev.gif FSUS|_themes/tvtoons/tvup.gif FSUS|_themes/tvtoons/tvglb.gif FSUS|_themes/tvtoons/tvpvb.gif FSUS|_themes/tvtoons/tvpvbp.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{686BEE0F-5F3B-486D-9BED-8125A8C3C604}
vti_backlinkinfo:VX|
