vti_encoding:SR|utf8-nl
vti_author:SR|1-98F8A64D7A1B4\\1
vti_modifiedby:SR|1-98F8A64D7A1B4\\1
vti_timelastmodified:TR|16 Feb 2001 18:43:42 -0000
vti_timecreated:TR|16 Feb 2001 18:43:42 -0000
vti_cacheddtm:TX|16 Feb 2001 18:43:44 -0000
vti_filesize:IR|10950
vti_cachedlinkinfo:VX|S|tvglb.gif S|tvbkgnd.gif S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/tvtoons/tvglb.gif FSUS|_themes/tvtoons/tvbkgnd.gif FSUS|_themes/tvtoons/blank.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{909DB2B6-D003-4A9C-896C-86B9F90A7572}
vti_backlinkinfo:VX|
